<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
    "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip"/>

  <context id="DB2Tables" targetRuntime="MyBatis3">
    <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                    connectionURL="jdbc:mysql://127.0.0.1:52000/miaosha"
                    userId="root"
                    password="miaosharoot">
    </jdbcConnection>

    <javaTypeResolver>
      <property name="forceBigDecimals" value="false"/>
    </javaTypeResolver>

    <!--places for generated DataObject-->
    <javaModelGenerator targetPackage="com.coding.miaosha.dataobject" targetProject="src/main/java">
      <property name="enableSubPackages" value="true"/>
      <property name="trimStrings" value="true"/>
    </javaModelGenerator>

    <!--places for generated mapping flies-->
    <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
      <property name="enableSubPackages" value="true"/>
    </sqlMapGenerator>

    <!--places for generated Dao class -->
    <javaClientGenerator type="XMLMAPPER" targetPackage="com.coding.miaosha.dao" targetProject="src/main/java">
      <property name="enableSubPackages" value="true"/>
    </javaClientGenerator>

    <!--gengerated table and class-->
    <table schema="miaosha" tableName="user_info" domainObjectName="UserDO"></table>
    <table schema="miaosha" tableName="user_password" domainObjectName="UserPasswordDO"></table>
  </context>
</generatorConfiguration>
